.container { 
    padding: 60px 0;

    .mat-raised-button {
        background: #f4a460;
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        width: 150px;
        padding: 4px auto;
        box-shadow: none;
    }

    .details {
        margin-top: 50px;

        .mat-subheader {
            font-family: inherit;
            font-size: 26px;
            text-align: center;
            display: block;
            margin-bottom: 10px;
        }
        
        .mat-list-item {
            font-family: inherit;
            
        }
    }

    mat-grid-list {
        width: 500px;
        margin: 0 auto;

        mat-grid-tile {
            background: #f4a460;

            &.style {
                font-family: 'Staatliches', cursive;
            }
        }
    }
}